.nezukoRunning {
  width: 100px;
  height: auto;
  animation-name: running;
  animation-duration: 20s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes running {
  0% {
    transform: translateX(0px) scaleX(1);
  }
  25% {
    transform: translateX(-800px) scaleX(1);
  }
  30% {
    transform: translateX(-800px) scaleX(-1);
  }
  75% {
    transform: translateX(800px) scaleX(-1);
  }
  80% {
    transform: translateX(800px) scaleX(1);
  }
  100% {
    transform: translateX(0px) scaleX(1);
  }
}
